$base-font-family: "Inter", Arial, Helvetica, sans-serif;;
$base-font-size: 16px;

$color-grey: #A1A1A1;

@mixin ph {
  @media (max-width: 700px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: 1.5;

  color: #fff;
  background:  #000;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}


// sass-glob;
// @import "././node_modules/normalize-scss/sass/_normalize.scss";

@import "block/*.scss";