.imp-sign {
  color: $color-red;
  font-style: normal;
  font-weight: 400;
}


.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: $base-font-family;
  padding: 16px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  white-space: nowrap;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
  }


  &--theme {
    &-def {
      box-shadow: none;
      background: none;
      transition: all 0.5s;

      background-color: none;
      background-image:  linear-gradient(90deg, #b6e558 0%, #64e9aa 50%,  #fff 50%, #fff 100%);
      background-size: 200% 100%;
      background-position: 100% 0;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;


      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        border-radius: 8px;
        transition: all .3s;
        background-image:  linear-gradient(90deg, #b6e558 0%, #64e9aa 50%,  #fff 50%, #fff 100%);
        background-size: 202% 100%;
        background-position: 100% 0;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 1px;
        z-index: -1;
        border-radius: 8px;
        transition: all .3s;
        background: #000;
    }


      &:hover,
      &:active,
      &:focus{
        background-position: 0 0;

        &::before {
          background-position: 0 0;
        }
      }
    }

    &-white {
      box-shadow: none;
      background: none;
      transition: all 0.5s;
      color: #000;


      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        border-radius: 8px;
        transition: all .3s;
       background-color: #fff;

      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: 50%;
        right: 50%;
        z-index: -1;
        border-radius: 8px;
        transition: all .5s;
        opacity: 0;
        background-image:  linear-gradient(91.21deg, #CFE351 -12.06%, #7CE96B 33.07%, #5AEAC7 128.63%);;

    }


      &:hover,
      &:active,
      &:focus{

        &::after {
          left: 0px;
          top: 0px;
          bottom: 0px;
          right: 0px;
          opacity: 1;

        }
      }
    }

    &-grey {
      box-shadow: none;
      background: none;
      transition: all 0.5s;
      background: #000;
      color: #fff;

      opacity: 0.5;
      transition: all 0.3s;

      &:hover,
      &:active,
      &:focus{
        opacity: 1;

      }
    }

  }
}

.br-xl {
  display: block;

  @include media-lg {
    display: none;
  }
}
.text {
  font-size: $base-font-size;
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;

  @include media-lg {
    font-size: $base-font-size-lg;
  }
  @include media-md {
    font-size: $base-font-size-md;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.8em 0 0.4em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  ul {
    margin: 1.5em 0 1.5em 20px;
    padding: 0;
  }
  ul:first-child {
    margin-top: 0;
  }
  ul:last-child {
    margin-bottom: 0;
  }
  ul li {
    margin-bottom: 0.8em;
  }
  ul li:last-child {
    margin-bottom: 0;
  }

  ol {
    margin: 1.5em 0 1.5em 20px;
    padding: 0;
  }
  ol:first-child {
    margin-top: 0;
  }
  ol:last-child {
    margin-bottom: 0;
  }
  ol li {
    margin-bottom: 1em;
  }
  ol li:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 1.5em;
    
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  table {
    width: 100%;
    margin: 0 0 30px;
  }
  table:last-child {
    margin-bottom: 0;
  }

  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  th {
    font-weight: bold;
  }

  blockquote {
    background: none;
    border-left: 10px solid $color-grey;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote::before {
    color: $color-grey;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  a {
    color: $color-grey;

    &:hover{
      color: #fff;
    }
  }
}




.input-text {
  $b: &;

  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20/14);
  letter-spacing: -0.002em;
  text-align: left;

  &__label {
    display: block;
    margin: 0 0 4px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__field {
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px 16px;
    font-size: inherit;
    font-weight: 400;
    text-align: inherit;
    color: inherit;
    border: none;
    border: 1px solid currentColor;
    background: none;
    outline: none;
    border-radius: 8px;
    transition: color 0.2s, border 0.2s;


    &:hover,
    &:focus {
      outline: none;
      // border-color: rgb(199, 140, 41);
    }

    &.parsley-error {
      border-color: $color-red;
    }

    &::-ms-clear {
      display: none;
    }

    &::placeholder {
      color: inherit;
      opacity: 0.6;
    }

  }



  & .parsley-errors-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    align-items: center;
    bottom: auto;
    justify-content: flex-end;
    left: auto;
    
    margin: 1px 0 0;
    padding: 0;
    list-style: none ;
    
    text-align: right;
    max-width: 100%;
    margin-top: 1px;
    font-size: 13px;
    color: $color-red;
    background: none;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }    
  &--label .parsley-errors-list {
    // @include rule(top, (xs: 38px, lg: 48px));
  }
  & .parsley-error ~ .parsley-errors-list {
    display: flex;
  }

}
