extends layout/app

block page
  include chunk/header
  
  include chunk/banner
  include chunk/features
  .sections-wrap-bg
    include chunk/placement
    include chunk/how
  include chunk/faq
  include chunk/contact


  
  include chunk/footer
