extends layout/app

block page
  include chunk/header

  br
  br
  br
  br
  br
  br
  .container 
    button.btn.btn--theme-def.header__action-btn Сотрудничать 
    button.btn.btn--theme-white.header__action-btn Разместить 
    button.btn.btn--theme-grey.header__action-btn Отправить 






  br
  br
  br
  

  include chunk/footer