section.action
  .container.action__container
    .action__box
      h1.action__title
        span.action__title-highlited Выгодное
        | размещение оборудования в дата-центрах

      .text.action__text
        p Предоставляем возможность облачного майнинга в наших хостингах путем аренды целового ряда оборудования или аренды хэш-мощности

      .text.action__btn-wrap
        button.btn.btn--theme-white.action__btn Разместить