section.action
  .action__top
    .action__top-inner
      .container.action__top-container
        .action__top-box
            h1.action__top-title
              span.action__top-title-highlighted Выгодное 
              | размещение оборудования в дата-центрах

            .text.action__top-text
              p Предоставляем возможность облачного майнинга в наших хостингах путем аренды целового ряда оборудования или аренды хэш-мощности

            .text.action__top-btn-wrap
              button.btn.btn--theme-white.header__action-btn Разместить

  .action__f
    .container.action__f-container
      .action__f-text-box
        .action__f-tag
          span.action__f-tag-text Преимущества
        
        h2.action__f-title Опережай время с нами
        
        .text.action__f-text
          p Мы являемся учредителями майнинг-отелей в восточной Сибири с общей мошностью 200 МВт или 536 Ph/s. Внедряем ПО способное использовать для материальных обсчетов SHA-256 Asic. с запуском нового проекта майнинга с нулевым выбросом углерода IEHS приглашаем стать частью неашей команды

      .action__f-boxes
        .action__f-boxes-row
          .action__f-boxes-col.action__f-boxes-col--half
            .action__f-item
              p.action__f-item-title 526 Ph/s
              p.action__f-item-text Общая мощность

          .action__f-boxes-col.action__f-boxes-col--half
            .action__f-boxes-row
              .action__f-boxes-col
                .action__f-item
                  p.action__f-item-title SHA - 256
                  p.action__f-item-text матричный обсвет
              .action__f-boxes-col
                .action__f-item
                  p.action__f-item-title Нулевой
                  p.action__f-item-text Выброс углерода



