section.contact
  .container.contact__container
    .contact__row
      .contact__col.contact__col--inf
        .contact__inf
          h2.contact__inf-title Наши контакты

          .contact__inf-links
            .contact__inf-links-item
              a.contact__inf-link(href="tel:+84562334323") + 8 456 233 43 23

            .contact__inf-links-item
              a.contact__inf-link(href="mailto:contacts@dgm.com") contacts@dgm.com

      .contact__col.contact__col--form
        .contact__form
          .contact__form-col-title
            .contact__form-title Отавьте заявку

          .contact__form-col-main
            form.js-validate(action="#" autocomplete="off")
              // add class "is-form-sent" after sent form
              .contact__form-fields
                .contact__form-fields-item
                  label.input-text
                    span.input-text__label 
                      | ФИО 
                      i.imp-sign *
                    input.input-text__field(type="text" name="Name" required="" placeholder="Введите имя" data-parsley-person-name)

                .contact__form-fields-item
                  label.input-text
                    span.input-text__label 
                      | Телефон 
                      i.imp-sign *
                    input.input-text__field(type="tel" name="tel" required="" data-parsley-ru-phone placeholder="8 456 233 43 23")
                
                .contact__form-fields-item
                  label.input-text
                    span.input-text__label 
                      | E-mail 
                      i.imp-sign *
                    input.input-text__field(type="email" name="Name" required="" placeholder="contacts@dgm.com")

                .contact__form-fields-item
                  label.input-text
                    span.input-text__label Ваше сообщение
                    textarea.input-text__field(name="Message" rows="3" placeholder="Введите сообщение")
              
              
              .contact__form-bottom
                .contact__form-bottom-policy Отправив заявку Вы соглашаетесь с политикой конфиденциальности

                .contact__form-bottom-submit
                  button.btn.btn--theme-grey.contact__form-send-btn(type="submit") Отправить 
                  

            .contact__form-succeed
              .contact__form-succeed-icon
                img(src="/img/round-check-mark.svg")
                
                .contact__form-succeed-title  Заявка упешно отправлена

                .contact__form-succeed-button-wrap
                    button.btn.btn--theme-def.contact__form-succeed-btn Сотрудничать 