section.faq
  .container.faq__container
    .faq__tag Отвечаем

    h2.faq__title F.A.Q

    .faq__list
    
    .text.faq__text
      p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и развитие структуры требуют определения и уточнения модели развития. С другой стороны рамки и место обучения кадров требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что сложившаяся структура организации в значительной степени обуславливает создание дальнейших направлений развития.