section.features
  .container.features__container
    .features__text-box
      .features__tag Преимущества
      
      h2.features__title Опережай время с нами
      
      .text.features__text
        p Мы являемся учредителями майнинг-отелей в восточной Сибири с общей мошностью 200 МВт или 536 Ph/s. Внедряем ПО способное использовать для материальных обсчетов SHA-256 Asic. с запуском нового проекта майнинга с нулевым выбросом углерода IEHS приглашаем стать частью неашей команды

    .features__boxes
      .features__boxes-row
        .features__boxes-col
          .features__item
            p.features__item-title 526 Ph/s
            p.features__item-text Общая мощность

        .features__boxes-col
          .features__boxes-row
            .features__boxes-col
              .features__item
                p.features__item-title SHA - 256
                p.features__item-text матричный обсвет
            .features__boxes-col
              .features__item
                p.features__item-title Нулевой
                p.features__item-text Выброс углерода



