header.header
  .container.header__container
    .header__logo
      a.header__logo-link(href="#")
        img.header__logo-img(src="/img/logo.svg" alt="dgm logo" width="90" height="30")
    
    nav.header__nav
      ul.header__nav-list
        li.header__nav-item
          a.header__nav-link(href="#") Мобильный ЦОД
        li.header__nav-item
          a.header__nav-link(href="#") Коллокация
        li.header__nav-item
          a.header__nav-link(href="#") Контакты
        li.header__nav-item
          a.header__nav-link(href="#") О нас


    .header__action
      button.btn.btn--theme-def.header__action-btn Сотрудничать 


