section.place  
  .container.place__container
    .place__tag Предоставляем

    h2.place__title Размещение

    .place__items
      .place__item
        .place__boxes
          .place__boxes-row
            .place__boxes-col.place__boxes-col--half
              .place__boxes-row
                .place__boxes-col.place__boxes-col--half
                  .place__feature
                    p.place__feature-title 800
                    p.place__feature-text мест в каждом

                .place__boxes-col.place__boxes-col--half
                  .place__feature
                    p.place__feature-title 12,5 ПХэш/сек
                    p.place__feature-text общая производительность

                .place__boxes-col.place__boxes-col--half
                  .place__feature
                    p.place__feature-title 800
                    p.place__feature-text мест в каждом

                .place__boxes-col.place__boxes-col--half
                  .place__feature.place__feature--single-title
                    p.place__feature-title.place__feature-title--big Мобильный ЦОД

                .place__boxes-col
                  .place__feature
                    p.place__feature-title 40 футовые 
                    p.place__feature-text цельнометаллические контейнеры

            .place__boxes-col.place__boxes-col--half
              .place__img-box
                img.place__img-box(src="/img/place-1.webp")


      .place__item
        .place__boxes
          .place__boxes-row
            .place__boxes-col.place__boxes-col--half
              .place__img-box
                img.place__img-box(src="/img/place-2.webp")



            .place__boxes-col.place__boxes-col--half
              .place__boxes-row
                .place__boxes-col.place__boxes-col--half
                  .place__feature
                    p.place__feature-title Приточная
                    p.place__feature-text вытяжная вентиляция

                .place__boxes-col.place__boxes-col--half
                  .place__feature
                    p.place__feature-title 4 500
                    p.place__feature-text общая производительность

                .place__boxes-col.place__boxes-col--half
                  .place__feature.place__feature--single-title.place__feature--align-right
                    p.place__feature-title.place__feature-title--big Модульное здание

                .place__boxes-col.place__boxes-col--half
                  .place__feature
                    p.place__feature-title 540 ПХэш/сек
                    p.place__feature-text общая производительность

                .place__boxes-col
                  .place__feature
                    p.place__feature-title Воднокапельное 
                    p.place__feature-text охлаждение воздуха





